@{
    var claimId = ViewBag.ClaimID ?? 0;
}
<div class="document-upload">
    <h4>Attach Documents (prototype)</h4>
    <input type="file" multiple />
    <p class="note">Prototype: files are not sent to server in Part 1.</p>
</div>